@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
	cursor:pointer;
	
} 
body{
	height:100vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background:linear-gradient(to right,rgb(15, 117, 137),lightgreen);

}  

h1{
	text-align:center;
	color:white;
	text-shadow:2px 2px 4px rgba(0,0,0,.2);
	letter-spacing:3px;
	margin-bottom:5%;
	opacity:0.8;
	z-index:-1;
}

label{

color:white;
text-shadow:2px 2px 4px rgba(0,0,0,.6);
opacity:.8;
margin-left:6%;


}
input{
width:80%;
margin:5% auto;
margin-bottom:6%;
border:none;
outline:none;
background:transparent;
color:white;
border-bottom:1px solid rgba(255,255,255,0.6);

}

button{
width:50%;
margin:5% auto;
font-size:15px;
color:white;
opacity:0.7;
background:rgba(255,255,255,0.06);
padding:10px 30px;
border:none;
outline:none;
border-radius:20px;
text-shadow:2px 2px 4px rgba(255,255,255,0.2);
box-shadow:2px 2px 4px rgba(255,255,255,0.2);
font-size:25px;

}
a{
	font-size:12px;
	color:white;
	text-align: center;
	text-shadow:2px 2px 4px rgba(255,255,255,0.2)
}
form{
width:25rem;
height:28rem;
display:flex;
flex-direction:column;
background:rgba(255,255,255,0.06);
box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
border-radius:30px;






}