*{
	
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	

  }

 
 
  
  .message {
	color: #31d7a9;
	
  }
  
body{
	 background-image:linear-gradient(180deg,rgb(0, 0, 72),rgb(65, 1, 65));
	 overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	
}
.blbox
{

background:rgba(126, 126, 129, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.6px);
-webkit-backdrop-filter: blur(2.6px);

}
.header{
	
	padding: 10px;
	/*background-image: linear-gradient(to right,rgb(69, 69, 237),#8A2BE2);*/
	height: 20vh;
	width: 100%;
	

	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 10%;
	padding-right: 10%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}

nav ul li{
	
	list-style-type: none;
	display: inline-block;
	padding: 10px  20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 24px;
}
nav ul li a.active, a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn-join,.btn-subs{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn-join:hover{
	transform: scale(1.2);
	color: white;
}
.main{
	padding-top: 8%;
	
	text-align: center;
	
}
#main{
	margin-left:auto;
	margin-right: auto;
	width: 62%;
	font-weight: 900;
	font-size: 80px;
	color: white;
	
}
#submain{
	margin-left:auto;
	margin-right: auto;
	width: 62%;
	font-style: italic;
	font-size: 23px;
	color: white;
	
}
hr{
	border-color: #d400f9;

}
.banner{
	background: url(../picture/banner02.jpg);
	
}
#banner{

	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 20px;
	text-align: center;
	border-radius: 16px;
	
}

#offer1{
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 300;
	color: rgb(9, 233, 47);
	
	font-size: 32px;


}
#offer2{
	margin-top: 15px;
	font-weight: 900;
	font-size: 45px;
	color: white;

}
#subscribe{
	font-size:20px;

}
#email{
	color: white;
	width: 40%;
	padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color:#031143;
 
 
}
.bannert{
	background: url(../picture/banner3.jpg),rgb(55, 1, 78);
	background-repeat: repeat, no-repeat;
	background-blend-mode:lighten;
	display: flex;
	
}

#bannert{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	width: 75%;
	height: 16rem;
	padding: 20px;
	

}
/* .bannertpara{
	
} */
#cater1{
	font-size: 20px;
	font-weight: 700;
	color: rgb(11, 183, 11);
	margin-top: 1rem;
	text-align: left;
}
#cater2{
	font-size: 28px;
	color: white;
	margin-top: 10px;
	text-align: left;
}
.ticket-tab-menu li {
	display: -webkit-box;
	display: -ms-flexbox;

	float: right;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			
	padding: 5px 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
			
	background-color: #7d78ff;
	border-radius: 25px;
	
	margin-bottom: 10px;
	margin-right: 1rem;
  }
  
  
  .ticket-tab-menu li .tab-thumb {
	width: 30px;
  }
  
  
  
  .ticket-tab-menu li span {
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 12px;
  }
 .select{
	margin-top: 1rem;
	margin-left: 22%;
	
  }
  .footersoci{
	display: flex;
  }
 
#social{
	padding-left: 70%;
	
}
  .fa {
	border:0.5px solid white;
	border-radius: 100px;
	padding: 20px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
  }
  .fa-facebook {
	background: transparent;
	color: white;
  }
  
  .fa-twitter {
	background: transparent;
	color: white;
  }
  
  .fa-google {
	background: transparent;
	color: white;
  }
  
  .fa-linkedin {
	background: transparent;
	color: white;
  }
  
  .fa-youtube {
	background: transparent;
	color: white;
  }
  
  .fa-instagram {
	background: transparent;
	color: white;
  }
  #hrfooter{
	border-color: #4f4f4f;
  }
  .footerlast{
	flex-direction: column;
  }
address{
	color: white;
}
.links{
	float: right;
	color: white;
}
#links{
	
	color: white;
}



.trending{
	font-size: 200%;
	font-weight: 700;
	padding-top: 5%;
	color: #31d7a9;
}

.contain {
  width: 100%;
}
.row {
  overflow: hidden;
  padding-left: 10%;
  margin-right: 10%
}
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 180px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  color: #ffffff;
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 4px;
  margin-top: -22px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  top: 130px;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
.collection{
	padding-top: 8%;
	display: flex;
	padding-left: 24%;
	

}
.allcollection{
	margin-left: 1%;
	margin-right: auto;







}
.side_content{
	padding-top: 5rem;
	padding-right: 2rem;
}
div.polaroid {

	width: 33%;
	background-color: rgb(4, 16, 106);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 28px;
	
	margin-left:15px;
	margin-right: 15px;
	margin-top: 30px;

  }
  
  div.container {
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 10px 30px;
	
  }
  .con{
	
	
	display: flex;
	

  }
  #hrcontent{
	
	
	border-color: #4f4f4f;
  }
#heading{
	color: White;
	font-style: normal;
	
}

/* Responsive */

@media screen and (min-width: 480px) and (max-width: 650px )  {

	.logo{
		font-size: 30px;
		width: 100%;
		text-align: center;

	}
	
	
	#social{
		padding-left: 53%;
	}
	#main{
		width: 65%;
		font-weight: 800;
		font-size: 35px;
	}
	.narbar{
        padding-left: 10%;
		padding-top: 0%;
		padding-bottom: 0%;
		padding-right: 0%;
		display: flow-root;
	   }
	 
	nav ul li a{
		
		
		font-size: 16px;
	}
.collection{
	padding-left: 0%;
	margin-left: 0%;
}
.header{
	
	padding: 0px;
	height: 38vh;
	width: 100%;
	

	
}
nav ul li{
	
	display: flow-root;
	text-align: center;
	
	padding: 2px  2px;
} 
	
.btn-join{
	margin-left: 10rem;
	
}
.bannert{
	height: 25rem;
}
  }

@media screen and (min-width: 650px) and (max-width: 900px )  {
	.logo{
		font-size: 20px;
	}
	#social{
		padding-left: 53%;
	}
	#main{
		width: 65%;
		font-weight: 800;
		font-size: 35px;
	}
 	nav ul li a{
		
		
		font-size: 16px;
	}
	
	
	nav ul li{
	
		list-style-type: none;
		display: inline-block;
		padding: 4px  4px;
	} 
	.narbar{

		margin-top: 35px;
		   padding: 2px  2px;
	   }
	   .btn-join{
		
		padding: 10px 15px;
		border-radius: 30px;
		
	}
	
	
  }



  

@media screen and (min-width: 900px) and (max-width: 1290px )  {
	.logo{
		font-size: 20px;
	}
	#social{
		padding-left: 53%;
	}
	#main{
		width: 80%;
		font-weight: 800;
		font-size: 55px;
	}
	
	nav ul li{
	
		padding: 5px  5px;
	}
	.narbar{
	 margin-top: 25px;
		padding: 5px  5px;
	}
	
	
  }

@media screen and (min-width: 1290px) {
	.logo{
		font-size: 30px;
	}
	nav ul li{
	padding: 5px  10px;
}
	#social{
		padding-left: 65%;
	}
	#main{
		width: 65%;
		
	}
  }











